*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

html, body {
    overflow-x: hidden;
}

/* Hide scrollbar for Firefox */
/* body {
    scrollbar-width: none;
} */

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 10px;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

section {
    margin-top: 42px;
}

.logo a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

.menu{
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.banner {
    background-color: #a17e60;
    color: #fff;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    margin-top: 20px;
}

.banner-info p {
    margin-top: 10px;
}

.banner-info {
    text-align: center;
    animation: fadeIn 1.5s ease-in both;
}

.banner-info img {
    width: 250px;
    border-radius: 25%;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

main div {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    animation: slideInRight 1s ease-in-out forwards;
    opacity: 0; /* Initially hide the divs */
}

/* Delay animation for each div */
main div:nth-child(1) {
    animation-delay: 0.5s;
}

main div:nth-child(2) {
    animation-delay: 1.5s;
}

main div:nth-child(3) {
    animation-delay: 2.5s;
}

main div h3 {
    text-align: center;
    font-size: xx-large;
}

main div p {
    margin-top: 10px;
}

main div img{
    width: 50%;
    margin-top: 10px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    /* align-items: center; */
}

footer {
    background-color:  #78593f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes MainfadeIn {
	from {
		opacity: 0;
		transform: translate3d(-10%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(-25%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

.animate-on-scroll.active {
    opacity: 1;
    transform: translateY(0);
}