*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

html, body {
    overflow-x: hidden;
}

/* Hide scrollbar for Firefox */
body {
    scrollbar-width: none;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
    display: none;
}



nav{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 10px;
}

.logo a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

.menu{
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.banner {
    background-color: #a17e60
    ;
    color: #fff;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    margin-top: 20px;
}

.banner-info p {
    margin-top: 10px;
}

.banner-info {
    text-align: center;
}

.banner-info img {
    width: 250px;
    border-radius: 25%;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

main div {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

main div h3 {
    text-align: center;
    font-size: xx-large;
}

main div p {
    margin-top: 10px;
}

main div img{
    width: 50%;
    margin-top: 10px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    /* align-items: center; */
}

footer {
    background-color:  #78593f;
    color: #fff;
    padding: 20px;
    text-align: center;
}